@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0a0a0a;
    color: #ffffff;
    overflow-x: hidden;
}

.text-outline {
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.8);
    -webkit-text-fill-color: transparent;
    color: transparent;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #b200ff;
}